/* for mobile */

	html,body {
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  height: 100%;
	  position: relative;
	}

	.page {
	  width: 100vw;
	  height: 100vh;
	  background-color: #FBDBD7;
	}

	#page_3 .question{
		font-size: 5em;
		position: absolute;
		line-height: 1.2;
		width: 100%;
		color: #573737;
		font-weight: bold;
/*		padding-left: 8%;*/
		padding-top: 31%;
		align-items: center;
		text-align: center;

	}
	#page_3 .drop{
		padding: 20%;
		padding-top: 60%;
/*		overflow-y: scroll;*/
	}
	#page_3 .custom-select{
		position: relative;
		font-family: serif;
		font-size: 3em;
		overflow-y: scroll;
		margin: 0;
		padding: 3%;
	}
	#page_3 .custom-select select{
		display: none;
		border: none;
	}
	.select-selected{
		background-color: #FBDBD7;
	}
	.select-selected:after{
		position: absolute;
		content: "";
		top: 38%;
		right: 10%;
		width: 0;
		height: 0;
		border: .7em solid #573737;
		border-color: #573737 transparent transparent transparent;
	}
	.select-selected.select-arrow-active:after {
	  	border-color: transparent transparent #573737 transparent;
	  	top: 10%;
	}
	.select-items div,.select-selected {
		color: #573737;
		padding: 5% 30%;
		border: .1em solid transparent;
		border-color: #573737;
		cursor: pointer;
	}
	/*style items (options):*/
	.select-items {
		position: absolute;
		background-color: #FBDBD7;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
		text-align: center;
	}
	/*hide the items when the select box is closed:*/
	.select-hide {
		display: none;
	}
	#page_3 .button{
		font-size: 4em;
		font-family: serif;
		color: #573737;
		font-style: italic;
		font-weight: bold;
		align-items: center;
		justify-content: center;
		display: flex;
	}

	#page_4 #result {
		font-size: 6em;
		line-height: 1.8;
		font-weight: bold;
		color: #573737;
		text-align: center;
		padding-top: 30%;
		padding-bottom: 11%;
	}

	#page_4 .button{
		font-size: 4em;
		font-family: serif;
		color: #573737;
		font-style: italic;
		font-weight: bold;
		align-items: center;
		justify-content: center;
		display: flex;
		border: .1em solid;
		width: 30%;
		height: auto;
		margin-left: 34%;
		margin-top: 8%;
	}

	#image{
		width: 40vw;
		height: 29vh;
		justify-content: center;
		display: flex;
		padding: 0%;
		margin: auto;
	}

	img{
		width: 100%;
	}

