	
	body {
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	}
	.page {
	  width: 100vw;
	  height: 100vh;
	  background-color: #FBDBD7;
	}

	#page_3 .question{
		font-family: 'youngserifregular', serif;
		font-size: 3.5vw;
		position: absolute;
		line-height: 1.2;
		width: 100%;
		color: #573737;
		font-weight: bold;
		padding-top: 10%;
		align-items: center;
		text-align: center;

	}

	#page_3 .drop-wrapper{
		padding-top: 21%;
		align-items: center;
		justify-content: center;
		display: flex;
	}

	.drop{
		padding: 2%;
	}
	
	#page_3 .button{
		margin-top: 5%;
		margin-left: 45%;
		justify-content: center;
	    align-items: center;
	    display: flex;
	    background-color: transparent;
	    border-style: none;
	    width: 10%;
	}

	#page_4 #result {
		font-size: 4vw;
		line-height: 1.8;
		font-weight: bold;
		color: #573737;
		text-align: center;
		padding-top: 6%;
		font-family: 'youngserifregular', serif;
	}

	#page_4 .button{
		margin-top: 5%;
		margin-left: 48%;
		justify-content: center;
	    align-items: center;
	    display: flex;
	    background-color: transparent;
	    border-style: none;
	    width: 4%;
	}

	#image{
		width: 11vw;
		height: 29vh;
		justify-content: center;
		display: flex;
		padding: 0%;
		margin: auto;
		padding-top: 5%;
	}

	img{
		width: 100%;
	}

	select {

        /* styling */
        background-color: #FBDBD7;
        border: thin solid #573737;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;

        /* reset */

        margin: 0;      
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
      }     

      select.minimal {
        background-image:
          linear-gradient(45deg, transparent 50%, #573737 50%),
          linear-gradient(135deg, #573737 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
      }

      select.minimal:focus {
        background-image:
          linear-gradient(45deg, #573737 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, #573737 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
        border-color: #573737;
        outline: 0;
      }


      select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }

@media (max-width: 500px){

	#page_3 .question{
		font-size: 1.7em;
		position: absolute;
		line-height: 1.2;
		width: 100%;
		color: #573737;
		font-weight: bold;
/*		padding-left: 8%;*/
		padding-top: 31%;
		align-items: center;
		text-align: center;

	}

	#page_3 .drop-wrapper{
		padding-top: 58%;
		padding-left: 0%;
		display: block;

	}

	.drop{
		padding: 4%;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	#page_3 .button{
		margin-top: 14%;
		margin-left: 41%;
		justify-content: center;
	    align-items: center;
	    display: flex;
	    background-color: transparent;
	    border-style: none;
	    width: 15%;
	}

	#page_4 #result {
		font-size: 2em;
		line-height: 1.8;
		font-weight: bold;
		color: #573737;
		text-align: center;
		padding-top: 30%;
		padding-bottom: 11%;
		font-family: 'youngserifregular', serif;
	}

	/*#page_4 .button{
		margin-top: 5%;
		margin-left: 45%;
		justify-content: center;
	    align-items: center;
	    display: flex;
	    background-color: transparent;
	    border-style: none;
	    width: 10%;
	}*/


	#image{
		width: 40vw;
		height: 29vh;
		justify-content: center;
		display: flex;
		padding: 0%;
		margin: auto;
	}

	img{
		width: 100%;
	}

	select {

        /* styling */
        background-color: #FBDBD7;
        border: thin solid #573737;
        border-radius: 5px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;

        /* reset */

        margin: 0;      
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
      }     

      select.minimal {
        background-image:
          linear-gradient(45deg, transparent 50%, #573737 50%),
          linear-gradient(135deg, #573737 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
      }

      select.minimal:focus {
        background-image:
          linear-gradient(45deg, #573737 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, #573737 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
        border-color: #573737;
        outline: 0;
      }


      select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
}

